<!-- Application header-->
<%- include('../header') -%>


  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="text-center my-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Twitter-logo.svg" alt="logo" width="100" />
          </div>
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
              <form method="POST" action="/login" class="needs-validation" novalidate="" autocomplete="off">
                <div class="mb-3">
                  <label class="mb-2 text-muted" for="email">E-Mail Address</label>

                  <!-- email -->
                  <input id="email" tabindex="1" type="email"
                    class="form-control <%= errors.email ? 'is-invalid' : '' %>" name="email"
                    value="<%= values.email %>" required autofocus />
                  <div class="invalid-feedback">
                    <%= errors.email %>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="mb-2 w-100">
                    <label class="text-muted" for="password">Password</label>
                    <a tabindex="4" href="/forgot" class="float-end">
                      Forgot Password?
                    </a>
                  </div>

                  <!-- password-->
                  <input id="password" tabindex="2" type="password"
                    class="form-control <%= errors.password ? 'is-invalid' : '' %>" name="password"
                    value="<%= values.password %>" />
                  <div class="invalid-feedback">
                    <%= errors.password %>
                  </div>
                </div>

                <div class="d-flex align-items-center">
                  <button tabindex="3" type="submit" class="btn btn-primary ms-auto">
                    Login
                  </button>
                </div>
              </form>

              <div class="text-danger <%= errors.loginFailed ? '' :'invisible' %>">
                <%= errors.loginFailed %>
              </div>
            </div>

            <div class="card-footer py-3 border-0">
              <div class="text-center">
                Don't have an account?
                <a tabindex="5" href="/signup" class="text-dark">sign up</a>
              </div>
            </div>
          </div>
          <div class="text-center mt-5 text-muted">
            Node.js alapú backend fejlesztés @galmihaly
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include('../footer') -%>